# ---
# title: Gitignore for My Reveal.js
# ---

# ---

# dia:begin gitignore/base.ignore

# --- Base ---

# macOS
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
* [0-9]
* [0-9].*
* copy
* copy.*
*.nosync/
Icon[[]]

# Linux
.nfs*
*~

# Windows
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db

# Logs, temporary files, regenerable cache
*.bak
*.bak[0-9]*
*.bkp
*.cache
*.log
*.old
*.swn
*.swns
*.swo
*.swp
*.tmp
*_tmp.*
build/
cache/
.cache/
log/
.log/
logs/
.logs/
tmp/
.tmp/

# Local mountpoints
mnt/
mount/
mounts/

# Scripting-language artefacts
*.py[cod]
*.rbc
.ruby-lsp/
__pycache__/

# Local environment variables
.env
.env.*
env/
env.bak/

# Local configuration overrides
*.local
*.local.*

# dia:end
