# ---
# title: Gitignore for My Reveal.js
# ---

# ---

# dia:begin gitignore/base.ignore

# --- Base ---

# macOS
._*
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
* [0-9]
* [0-9].*
* copy
* copy.*
*.nosync/
Icon[[]]

# Linux
.nfs*
*~

# Windows
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db

# Logs and temporary files
*.bak
*.bak[0-9]*
*.bkp
*.log
*.swo
*.swp
*.tmp
log/
logs/
tmp/

# Local environment variables
.env
.env.*
!.env.example
.envrc
.envrc.*
!.envrc.example

# dia:end
